<%- include('../partials/header.ejs') %>
    <%- include("../partials/nav.ejs") %>

    <h1><%= title %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, vel eius
      natus voluptatum hic, libero dignissimos nam doloribus excepturi quisquam
      doloremque eum necessitatibus amet sapiente expedita quod atque. Est,
      magnam.
    </p>
    <%= new Date().toString() %>

    <div>
      <% if(post.published) { %>
      <h2>Title : <%= post.title %></h2>
      <p>Body : <%= post.body %></p>

      <% } else{ %>
      <p>Post is Not Yet published</p>
      <% } %>
    </div>

    <ul>
      <% for(let p of posts) { %>
      <li><%= p.title %> By <%= p.author %></li>
      <% } %>
    </ul>

    <%- include('../partials/footer.ejs') %>
